<div
    class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent shadow content">


    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-2 px-2 md:px-2 border-b">
        <div class="col-sm-3 col-xs-4 col-md-4 pl-3">
            <div class="text-xl font-bold tracking-tight fontcls">Product Id's</div>
        </div>
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4 pr-3">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded md:min-w-64 xs:min-w-64">
                <mat-icon
                class="icon-size-5"
                matPrefix
                [svgIcon]="'heroicons_solid:search'"></mat-icon>
            <input
                matInput
                [formControl]="searchInputControl"
                [autocomplete]="'off'"
                [placeholder]="'Search'" (input)="applyGlobalFilter($event)">
                <button pButton  class="icon-size-5" icon="pi pi-times-circle" (click)="clear()"></button>
        </mat-form-field>
            <button style="background-color:#8ed93b;color:white" class="ml-4 " mat-stroked-button
                (click)="fileInput.click()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'" style="color:white"></mat-icon>
                <span class="ml-1 mr-1">Upload Product ids</span>
                <input type="file" #fileInput style="display: none" accept=".xlsx, .xls"
                    (change)="importProductId($event)" />
            </button>
            <!-- Add product button -->
            <button class="ml-4" style="background-color:#8ed93b;color:white" mat-stroked-button
                (click)="NewProductId()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'" style="color:white"></mat-icon>
                <span class="ml-1 mr-1">Add ProductId</span>
            </button>
        </div>

    </div>
    <!-- Main -->
    <p-tabView class="ml-4 mt-2" (onChange)="handleChange($event)" [(activeIndex)]="index">
        <p-tabPanel header="EBook">
            <div class="card">
                <p-table styleClass="p-datatable-sm" #dt1 responsiveLayout="scroll" [value]="productId"
                    [globalFilterFields]="['name']" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]"
                    [resizableColumns]="true" [scrollable]="true" scrollHeight="400px" sortMode="multiple"
                    [paginator]="true" [totalRecords]="totalRecords" (onLazyLoad)="LazyLoadProductId($event)"
                    [lazy]="true">
                    <!--  -->
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th style="max-width:45px;min-width:30px;">NO</th>
                            <th>BOOK</th>
                            <th>APPLE ID</th>
                            <th>iTUNES PRICE</th>
                            <th style="min-width:100px">GOOGLE ID</th>
                            <th style="max-width:45px"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product let-columns="columns" let-rowIndex="rowIndex">
                        <tr>
                            <td style="max-width:45px;min-width:30px;">{{rowIndex+1}}</td>
                            <td style="min-width:100px">{{product.bookTitle}}</td>
                            <td style="min-width:100px">{{product.ebookAppleId}}</td>
                            <td style="min-width:100px">{{product.ebookApplePrice}}</td>
                            <td style="min-width:100px">{{product.ebookGoogleId}}</td>
                            <td style="justify-content: center;cursor:pointer;max-width:45px;"><i
                                    class="pi pi-ellipsis-v" (click)="show($event,product)"></i></td>
                        </tr>
                    </ng-template>
                </p-table>
                <p-overlayPanel #op>
                    <ng-template pTemplate>
                        <ul>
                            <li (click)="Edit(product)" style="cursor:pointer;">Edit</li>
                            <HR SIZE="1">
                            <li (click)="Delete(product)" style="cursor:pointer;">Delete</li>
                        </ul>
                    </ng-template>
                </p-overlayPanel>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Print">
            <div class="card">
                <p-table styleClass="p-datatable-sm" #dt1 responsiveLayout="scroll" [value]="productId"
                    [globalFilterFields]="['name']" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]"
                    [resizableColumns]="true" [scrollable]="true" scrollHeight="400px" sortMode="multiple"
                    [paginator]="true" [totalRecords]="totalRecords" (onLazyLoad)="LazyLoadProductId($event)"
                    [lazy]="true">
                    <!--  -->
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th style="max-width:45px;min-width:30px;">NO</th>
                            <th>BOOK</th>
                            <th>APPLE ID</th>
                            <th>iTUNES PRICE</th>
                            <th style="min-width:100px">GOOGLE ID</th>
                            <th style="max-width:45px"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product let-columns="columns" let-rowIndex="rowIndex">
                        <tr>
                            <td style="max-width:45px;min-width:30px;">{{rowIndex+1}}</td>
                            <td style="min-width:100px">{{product.bookTitle}}</td>
                            <td style="min-width:100px">{{product.printAppleId}}</td>
                            <td style="min-width:100px">{{product.printApplePrice}}</td>
                            <td style="min-width:100px">{{product.printGoogleId}}</td>
                            <td style="justify-content: center;cursor:pointer;max-width:45px;"><i
                                    class="pi pi-ellipsis-v" (click)="show($event,product)"></i></td>
                        </tr>
                    </ng-template>
                </p-table>
                <p-overlayPanel #op>
                    <ng-template pTemplate>
                        <ul>
                            <li (click)="Edit(product)" style="cursor:pointer;">Edit</li>
                            <HR SIZE="1">
                            <li (click)="Delete(product)" style="cursor:pointer;">Delete</li>
                        </ul>
                    </ng-template>
                </p-overlayPanel>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Audio">
            <div class="card">
                <p-table styleClass="p-datatable-sm" #dt1 responsiveLayout="scroll" [value]="productId"
                    [globalFilterFields]="['name']" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]"
                    [resizableColumns]="true" [scrollable]="true" scrollHeight="400px" sortMode="multiple"
                    [paginator]="true" [totalRecords]="totalRecords" (onLazyLoad)="LazyLoadProductId($event)"
                    [lazy]="true">
                    <!--  -->
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th style="max-width:45px;min-width:30px;">NO</th>
                            <th>BOOK</th>
                            <th>APPLE ID</th>
                            <th>iTUNES PRICE</th>
                            <th style="min-width:100px">GOOGLE ID</th>
                            <th style="max-width:45px"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product let-columns="columns" let-rowIndex="rowIndex">
                        <tr>
                            <td style="max-width:45px;min-width:30px;">{{rowIndex+1}}</td>
                            <td style="min-width:100px">{{product.bookTitle}}</td>
                            <td style="min-width:100px">{{product.audioAppleId}}</td>
                            <td style="min-width:100px">{{product.audioApplePrice}}</td>
                            <td style="min-width:100px">{{product.audioGoogleId}}</td>
                            <td style="justify-content: center;cursor:pointer;max-width:45px;"><i
                                    class="pi pi-ellipsis-v" (click)="show($event,product)"></i></td>
                        </tr>
                    </ng-template>
                </p-table>
                <p-overlayPanel #op>
                    <ng-template pTemplate>
                        <ul>
                            <li (click)="Edit(product)" style="cursor:pointer;">Edit</li>
                            <HR SIZE="1">
                            <li (click)="Delete(product)" style="cursor:pointer;">Delete</li>
                        </ul>
                    </ng-template>
                </p-overlayPanel>
            </div>
        </p-tabPanel>
    </p-tabView>
    <p-dialog [(visible)]="display" header="Add ProductIds" [breakpoints]="{'960px': '55vw', '640px': '95vw'}"
        [modal]="true" [style]="{width: '40vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">


        <form [formGroup]="addForm" (ngSubmit)="AddProductId()" novalidate>
            <div class="container">
                <div class="row">
                    <div class="col-25">
                        <label for="bookType">Format</label>
                    </div>
                    <div class="col-75">
                        <p-dropdown [options]="bookType" optionValue="code" formControlName="bookType" appendTo="body"
                            optionLabel="name"></p-dropdown>
                        <div *ngIf="getControl['bookType'].touched && getControl['bookType'].invalid"
                            class="text-danger">
                            <div *ngIf="getControl['bookType'].errors?.['required']">Book format is required.</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="book">Choose Book</label>
                    </div>
                    <div class="col-75">
                        <p-dropdown formControlName="book" [options]="books" appendTo="body" [filter]="true"
                            filterBy="title" optionLabel="title" placeholder="Select">
                            <ng-template pTemplate="filter" let-options="options">
                                <div class="flex gap-1">
                                    <div class="p-inputgroup">
                                        <input type="text" formControlName="filterValue" placeholder="Filter"
                                            [(ngModel)]="filterValue" />
                                    </div>
                                    <button pButton icon="pi pi-search" (click)="searchBookControl()"
                                        severity="secondary"></button>
                                </div>
                            </ng-template>
                        </p-dropdown>
                        <!-- <p-autoComplete formControlName="book" [(ngModel)]="text" (onFocus)="onFocus()" [suggestions]="ebook" (completeMethod)="search($event)" field="title" [dropdown]="true"></p-autoComplete> -->
                        <div *ngIf="getControl['book'].touched && getControl['book'].invalid" class="text-danger">
                            <div *ngIf="getControl['book'].errors?.['required']">Book name is required.</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="appleId">Apple id</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="appleId" formControlName="appleId" placeholder="Type here..">
                        <div *ngIf="getControl['appleId'].touched && getControl['appleId'].invalid"
                            class="text-danger">
                            <div *ngIf="getControl['appleId'].errors?.['required']">AppleId is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="ituneprice">iTunes price</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="ituneprice" formControlName="ituneprice" placeholder="Type here..">
                        <div *ngIf="getControl['ituneprice'].touched && getControl['ituneprice'].invalid"
                            class="text-danger">
                            <div *ngIf="getControl['ituneprice'].errors?.['ituneprice']">itune price is required.
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-100 text-right fontcls">
                        <button type="button" class="cancelbtn btn-outline-secondary btn btn-sm "
                            (click)="Cancel()">CANCEL</button>
                        <button type="submit" class="submitbtn btn-outline-secondary btn btn-sm ">SUBMIT</button>
                    </div>
                </div>
            </div>
        </form>

    </p-dialog>
    <p-dialog [header]="editBookName" [(visible)]="editdisplay" [breakpoints]="{'960px': '55vw', '640px': '95vw'}"
        [modal]="true" [style]="{width: '40vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
        <form [formGroup]="editForm" (ngSubmit)="EditProductId()">

        <div class="row">
            <div class="col-25">
                <label for="editAppleId">Apple id</label>
            </div>
            <div class="col-75">
                <input type="text" id="editAppleId" formControlName="editAppleId" placeholder="Type here.."
                    [(ngModel)]="editAppleIdValue">
                <div *ngIf="getEditControl['editAppleId'].touched && getEditControl['editAppleId'].invalid"
                    class="text-danger">
                    <div *ngIf="getEditControl['editAppleId'].errors?.['required']">AppleId is required.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="editituneprice">iTunes price</label>
            </div>
            <div class="col-75">
                <input type="text" id="editituneprice" formControlName="editituneprice" placeholder="Type here.."
                    [(ngModel)]="editiTunePriceValue">
                <div *ngIf="getEditControl['editituneprice'].touched && getEditControl['editituneprice'].invalid"
                    class="text-danger">
                    <div *ngIf="getEditControl['editituneprice'].errors?.['editituneprice']">itune price is required.
                    </div>
                </div>
            </div>
        </div>
        
            <div class="container">

                <div class="col-100 text-right fontcls">
                    <button type="button" class="cancelbtn btn-outline-secondary btn btn-sm"
                        (click)="EditCancel()">CANCEL</button>
                    <button type="submit" class="submitbtn btn-outline-secondary btn btn-sm">SUBMIT</button>
                </div>
            </div>
        </form>

    </p-dialog>
    <p-confirmDialog [breakpoints]="{'960px': '50vw', '640px': '80vw'}" [style]="{width: '30vw'}">
    </p-confirmDialog>
    <p-toast position="bottom-right"></p-toast>