<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent shadow content">

  
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-2 px-2 md:px-2 border-b">
        <div class="col-sm-3 col-xs-4 col-md-4 pl-3">
            <div class="text-xl font-bold tracking-tight fontcls">New Department</div>
        </div>
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4 pr-3">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded md:min-w-64 xs:min-w-64">
                <mat-icon
                class="icon-size-5"
                matPrefix
                [svgIcon]="'heroicons_solid:search'"></mat-icon>
            <input
                matInput
                [formControl]="searchInputControl"
                [autocomplete]="'off'"
                [placeholder]="'Search'" (input)="dt1.filterGlobal($event.target.value, 'startsWith')">
                <!-- <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button> -->
        </mat-form-field>
            <!-- Add product button -->
            <button
                class="ml-4 " 
                mat-stroked-button style="background-color:#8ed93b;color:white"
            (click)="NewDepartment()">
            <mat-icon [svgIcon]="'heroicons_outline:plus'" style="color:white"></mat-icon>
            <span class="ml-1 mr-1">Add</span>
            </button>
        </div>
       
    </div>
    <!-- Main -->
    
        <div class="card">
            <p-table styleClass="p-datatable-sm" #dt1 responsiveLayout="scroll" [globalFilterFields]="['name']"[value]="data" [paginator]="true" [rows]="9" [rowsPerPageOptions]="[10,25,50]" [resizableColumns]="true"  [scrollable]="true"  scrollHeight="400px" sortMode="multiple">
               
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="max-width:45px;min-width:30px;">NO</th>
                        <th style="min-width:100px;max-width:300px;">NAME</th>
                        <th style="min-width:100px;max-width:500px;">DESCRIPTION</th> 
                        <th style="min-width:100px">DATE</th>
                        <th style="max-width:45px;"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-columns="columns" let-rowIndex="rowIndex">
                    <tr>
                        <td style="max-width:45px;min-width:30px;">{{rowIndex+1}}</td>
                        <td title={{product.name}} (click)="ShowUser(product)" style="min-width:100px;max-width:300px;">{{product.name| titlecase}}</td>
                        <td title={{product.description}} style="min-width:100px;max-width:500px;">{{product.description}}</td>
                        <td style="min-width:100px">{{product.creationTimestamp | date:'dd-MM-yyyy'}}</td>
                        <td style="justify-content: center;cursor:pointer;max-width:45px;"><i class="pi pi-ellipsis-v" (click)="show($event,product)"></i></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-overlayPanel #op>
            <ng-template pTemplate>
                <ul>
                    <li (click)="Edit(product)" style="cursor:pointer">Edit</li>
                    <HR SIZE="1">
                    <li (click)="Delete(product.id)" style="cursor:pointer">Delete</li>
                </ul>
            </ng-template>
        </p-overlayPanel>
            
    <app-editdepartment *ngIf="edit" (edit)="EditCancel($event)" [product]="product"></app-editdepartment>
    
   
</div>
<!--Add new Department-->
<p-dialog [(visible)]="display" header="New Department" [breakpoints]="{'960px': '55vw', '640px': '95vw'}"  [modal]="true" [style]="{width: '40vw'}" [baseZIndex]="10000"
[draggable]="false" [resizable]="false">


  <form [formGroup]="AddForm" (ngSubmit)="AddDepartment()"  novalidate>
    <div class="container">
    <div class="row">
      <div class="col-25">
        <label for="depname">Name<span class="text-danger reqd">*</span></label>
      </div>
      <div class="col-75">
        <input type="text" id="depname" class="nameCapital" [pKeyFilter]="noSpecial" formControlName="depname" placeholder="Department name.." >
        <div *ngIf="getControl['depname'].touched && getControl['depname'].invalid" class="text-danger">
            <div *ngIf="getControl['depname'].errors?.['required']">Name is required.</div>
          </div>
          <div *ngIf="getControl['depname'].errors?.maxlength"  class="text-danger"> 
            More than 50 characters is not allowed.
       </div>
      </div>
    </div>
    <div class="row">
        <div class="col-25">
          <label for="desc">Description<span class="text-danger reqd">*</span></label>
        </div>
        <div class="col-75">
          <input type="text" id="desc" class="sentenceCase" formControlName="desc" placeholder="Enter description.." >
          <div *ngIf="getControl['desc'].touched && getControl['desc'].invalid" class="text-danger">
            <div *ngIf="getControl['desc'].errors?.['required']">Description is required.</div>
          </div>
          <div *ngIf="getControl['desc'].errors?.maxlength"  class="text-danger"> 
            More than 100 characters is not allowed.
       </div> 
        </div>
      </div>  
    <div class="row" >
        <div class="col-100 text-right fontcls">
            <button type="button" class="cancelbtn btn-outline-secondary btn btn-sm" (click)="Cancel()">CANCEL</button>
            <button type="submit" class="submitbtn btn-outline-secondary btn btn-sm" >SUBMIT</button>
        </div>
    </div>
  </div>
  </form>

</p-dialog>
<!--End-->
<p-confirmDialog  [breakpoints]="{'960px': '50vw', '640px': '80vw'}" [style]="{width: '30vw'}">
</p-confirmDialog>
 
<p-toast position="bottom-right"></p-toast>