:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    font-size:13px !important;
     color: gray;
     font-family: 'Hind';
   }
   :host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    font-size:13px !important;
    color: gray;
    font-family: 'Hind';
  }