<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent shadow content">

  
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-2 px-2 md:px-2 border-b">
        <div class="col-sm-3 col-xs-4 col-md-4 pl-3">
            <div class="text-xl font-bold tracking-tight fontcls">Gallery</div>
        </div>
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4 pr-3">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded md:min-w-64 xs:min-w-64">
                <mat-icon
                class="icon-size-5"
                matPrefix
                [svgIcon]="'heroicons_solid:search'"></mat-icon>
            <input
                matInput
                [formControl]="searchInputControl"
                [autocomplete]="'off'"
                [placeholder]="'Search'" (input)="dt1.filterGlobal($event.target.value, 'contains')">
                <!-- <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button> -->
        </mat-form-field>
            <!-- Add product button -->
            <button
                class="ml-4 " 
                mat-stroked-button style="background-color:#8ed93b;color:white"
            (click)="NewGallery()">
            <mat-icon [svgIcon]="'heroicons_outline:plus'" style="color:white"></mat-icon>
            <span class="ml-1 mr-1">Add</span>
            </button>
        </div>
       
    </div>
    <!-- Main -->
    
        <div class="card">
            <p-table styleClass="p-datatable-sm" #dt1 responsiveLayout="scroll" [globalFilterFields]="['title']"[value]="data" [paginator]="true" [rows]="9" [rowsPerPageOptions]="[10,25,50]" [resizableColumns]="true"  [scrollable]="true"  scrollHeight="400px" sortMode="multiple">
               
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="max-width:45px;min-width:30px;">NO</th>
                        <th>TITLE</th>
                        <th>PUBLISHED</th> 
                        <th>NO OF IMAGES</th> 
                        <th style="max-width:45px;"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-columns="columns" let-rowIndex="rowIndex">
                    <tr>
                        <td style="max-width:45px;min-width:30px;">{{rowIndex+1}}</td>
                        <td title={{product.title}} (click)="ShowUser(product)"
                        style="cursor:pointer;color: rgb(40, 150, 214);" >{{product.title| titlecase}}</td>
                        <td >{{product.creationTimestamp | date:'dd-MM-yyyy'}}</td>
                        <td >{{product.imageId.length}}</td>
                        <td style="justify-content: center;cursor:pointer;max-width:45px;"><i class="pi pi-ellipsis-v" (click)="show($event,product)"></i></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-overlayPanel #op>
            <ng-template pTemplate>
                <ul>
                    <li (click)="Edit(product)" style="cursor:pointer">Edit</li>
                    <HR SIZE="1">
                    <li (click)="Delete(product.id)" style="cursor:pointer">Delete</li>
                </ul>
            </ng-template>
        </p-overlayPanel>
            
    <app-editgallery *ngIf="edit" (edit)="EditCancel($event)" [product]="product"></app-editgallery>
    
   
</div>
<!--Add new Gallery-->
<p-dialog [(visible)]="display" header="New Gallery" [breakpoints]="{'960px': '55vw', '640px': '95vw'}"  [modal]="true" [style]="{width: '40vw'}" [baseZIndex]="10000"
[draggable]="false" [resizable]="false">


  <form [formGroup]="AddForm" (ngSubmit)="AddGallery()"  novalidate>
    <div class="container">
    <div class="row">
      <div class="col-25">
        <label for="galleryname">Name<span class="text-danger reqd">*</span></label>
      </div>
      <div class="col-75">
        <input type="text" id="galleryname" class="nameCapital" formControlName="galleryname" placeholder="Gallery name.." >
        <div *ngIf="getControl['galleryname'].touched && getControl['galleryname'].invalid" class="text-danger">
            <div *ngIf="getControl['galleryname'].errors?.['required']">Name is required.</div>
          </div>
          <div *ngIf="getControl['galleryname'].errors?.maxlength"  class="text-danger"> 
            More than 50 characters is not allowed.
       </div>
      </div>
    </div>
    <div class="row">
        <div class="col-25">
          <label for="desc">Description<span class="text-danger reqd">*</span></label>
        </div>
        <div class="col-75">
          <input type="text" id="desc" class="sentenceCase" formControlName="desc" placeholder="Enter description.." >
          <div *ngIf="getControl['desc'].touched && getControl['desc'].invalid" class="text-danger">
            <div *ngIf="getControl['desc'].errors?.['required']">Description is required.</div>
          </div>
          <div *ngIf="getControl['desc'].errors?.maxlength"  class="text-danger"> 
            More than 100 characters is not allowed.
       </div> 
        </div>
      </div>  
    <div class="row" >
        <div class="row">
            <div class="col-15 mb-1">
                <label for="depname">Image</label>
            </div>
            <div class="col-25 mb-1">
              <!-- <label class="custom-file-upload"> formControlName="cover"-->
                <input type="file" id="file" formControlName="cover" accept=".jpg, .jpeg, image/png" (change)="onFileChanged($event)">
                <!-- <div *ngIf="getControl['depname'].touched && getControl['depname'].invalid" class="text-danger">
                          <div *ngIf="getControl['depname'].errors?.['required']">Name is required.</div>
                        </div> -->
                      <!-- </label> -->
            </div>
            <div class="col-25 mb-1">
              <img src={{url}} style="width:50px;height:50px;" *ngIf="url">
            </div>
        </div>
        <div class="col-100 text-right fontcls">
            <button type="button" class="cancelbtn btn-outline-secondary btn btn-sm" (click)="Cancel()">CANCEL</button>
            <button type="submit" class="submitbtn btn-outline-secondary btn btn-sm" >SUBMIT</button>
        </div>
    </div>
  </div>
  </form>

</p-dialog>

<p-dialog [(visible)]="imageScroll" header="tst" [breakpoints]="{'960px': '55vw', '640px': '95vw'}"  [modal]="true" [style]="{width: '40vw'}" [baseZIndex]="10000"
[draggable]="false" [resizable]="false">
<div *ngFor="let image of images" style="display:inline-block; width: 25%;">
  <img [src]="'https://10.5.141.82/museum-zoo/uploads/image/'+image" height="100px" width="100px" >
</div>
</p-dialog>
<!--End-->
<p-confirmDialog  [breakpoints]="{'960px': '50vw', '640px': '80vw'}" [style]="{width: '30vw'}">
</p-confirmDialog>
 
<p-toast position="bottom-right"></p-toast>
