<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent shadow content">

  
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-2 px-2 md:px-2 border-b">
        <div class="col-sm-4 col-xs-4 col-md-4 pl-3">
            <div class="text-xl font-bold tracking-tight fontcls">Add Retail</div>
        </div>
        <div class="flex sm:ml-2 sm:flex-row flex-0  shrink-0 items-center mt-6 sm:mt-0 pr-3">
            <button style="background-color:#8ed93b;color:white"
                mat-stroked-button 
           >
            <span class="ml-1 mr-1 btn-sm" (click)="GoBack()">Retail List</span>
            </button>
        </div>
       
    </div>

   
        <div class="container">
            <p-scrollPanel [style]="{width: '100%', height: '450px'}">
              <form [formGroup]="SearchForm" (ngSubmit)="Searchbook()" class="mr-20 md:ml-3 mt-10 sm:ml-3">
        <div class="row">
          <div class="col-25">
            <label for="fname">Format</label>
          </div>
          <div class="col-50">
            <select formControlName="bookType">
                <option value="">Choose</option>
                <option value="EBOOK">EBook</option>
                <option value="AUDIO">Audio</option>
              </select>
              <div *ngIf="getControl['bookType'].touched && getControl['bookType'].invalid" class="text-danger">
                <div *ngIf="getControl['bookType'].errors?.['required']">Book Type is required.</div>
              </div>
          </div>
        </div>
        <div class="row">
            <div class="col-25">
              <label for="fname">Category</label>
            </div>
            <div class="col-20">
                <select formControlName="category">
                    <option value="">Choose</option>
                    <option *ngFor="let item of category" value="{{item.id}}">{{item.name}}</option>
                  </select>
            </div>

          </div>
       
          <div class="row">
            <div class="col-25">
              <label for="fname">Search Book</label>
            </div>
            <div class="col-50">
             <input type="text" formControlName="title">
            </div>
          </div>
          <div class="row" >
            <div class="col-75 text-right">
                <button type="submit" class="cancelbtn btn-outline-secondary btn btn-md" >Search</button>
                <button type="button" class="submitbtn btn-outline-secondary btn btn-md ml-2" (click)="clear()">Clear</button>
            </div>
        </div>
      </form>
          <div class="card mt-3">
          <p-table styleClass="p-datatable-sm"
           [autoLayout]="true" #dt1 responsiveLayout="scroll" [totalRecords]="totalRecords" [lazy]="true"
           [globalFilterFields]="['name']"[value]="data" [paginator]="true" [rows]="perPage" (onLazyLoad)="LazyLoadSearch($event)"
           [rowsPerPageOptions]="[10,25,50,100]" [resizableColumns]="true"  [scrollable]="true"  
           scrollHeight="380px" sortMode="multiple">

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 2rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th style="max-width:45px">NO</th>
                    <th >PRODUCT</th> 
                    <th>AUTHOR</th>
                    <th>EDITION</th>
                    <th >VOLUME</th>
                    <th>CODE</th>
                    <th>ISBN</th>
                    <th>LANGUAGE</th>
                    <th>MRP</th>
                    <th style="max-width:45px"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body"  let-active let-columns="columns" let-rowIndex="rowIndex">
                <tr>
                    <td>
                        <p-tableCheckbox [value]="active"></p-tableCheckbox>
                    </td>
                    <td style="max-width:45px">{{rowIndex+1}}</td>
                    <td title={{active.product}} >{{active.title}}</td>
                    <td >{{active.author}}</td>
                    <td>{{active.edition}}</td>
                    <td style="max-width:100px">{{active.volume}}</td>
                    <td>{{active.productCode}}</td>
                    <td>{{active.isbn}}</td>
                    <td>{{active.language}}</td>
                    <td>{{active.mrp}}</td>
                   
                    <td style="justify-content: center;cursor:pointer;max-width:45px;"><i class="pi pi-ellipsis-v" ></i></td>
                </tr>
            </ng-template>
        </p-table>
        </div>
        <div class="row" >
          <div class="col-75 text-right">
              <button type="button" class="cancelbtn btn-outline-secondary btn btn-md" (clicl)="cancel()">Cancel</button>
              <button type="button" class="submitbtn btn-outline-secondary btn btn-md ml-2" (click)="AddRetailBook()">Submit</button>
          </div>
      </div>
            </p-scrollPanel>
      </div>


    </div>

    <p-toast position="bottom-right"></p-toast>