<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent shadow content">

  
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-2 px-2 md:px-2 border-b">
        <div class="col-sm-3 col-xs-4 col-md-4 pl-3">
            <div class="text-xl font-bold tracking-tight fontcls">Zone</div>
        </div>
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4 pr-3">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded md:min-w-64 xs:min-w-64">
                <mat-icon
                class="icon-size-5"
                matPrefix
                [svgIcon]="'heroicons_solid:search'"></mat-icon>
            <input
                matInput
                [formControl]="searchInputControl"
                [autocomplete]="'off'"
                [placeholder]="'Search'" (input)="dt1.filterGlobal($event.target.value, 'contains')">
                <!-- <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button> -->
        </mat-form-field>
            <!-- Add product button -->
            <button style="background-color:#8ed93b;color:white"
                class="ml-4 " 
                mat-stroked-button 
            (click)="NewState()">
            <mat-icon [svgIcon]="'heroicons_outline:plus'" style="color:white"></mat-icon>
            <span class="ml-1 mr-1">Add Zone</span>
            </button>
        </div>
       
    </div>
    <!-- Main -->
    
        <div class="card ml-4">
            <p-table styleClass="p-datatable-sm" #dt1 [value]="zone" responsiveLayout="scroll" [globalFilterFields]="['State']" [paginator]="true" [rows]="9" [rowsPerPageOptions]="[10,25,50]" [resizableColumns]="true"  [scrollable]="true"  scrollHeight="400px" sortMode="multiple">
               
                
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="max-width:45px;min-width:30px;">NO</th>
                        <th style="min-width:100px">ZONE</th>
                        <th style="min-width:100px">WAREHOUSE</th>  
                        <th style="min-width:100px">EDD</th> 
                        <th style="min-width:100px">SHIPPING DISCOUNT</th> 
                        <th style="min-width:100px">PINCODES</th> 
                        <th style="max-width:45px;"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-columns="columns" let-rowIndex="rowIndex">
                    <tr>
                        <td style="max-width:45px;min-width:30px;">{{rowIndex+1}}</td>
                        <td  style="min-width:100px">{{product.name || titlecase}}</td>
                        <td  style="min-width:100px">{{product.wareHouseDetail.name || titlecase}}</td>
                        <td  style="min-width:100px">{{product.edd || titlecase}}</td>
                        <td  style="min-width:100px">{{product.shippingDiscount || titlecase}}</td>
                        <td  style="min-width:100px">{{product.pincodes.length}}</td>
                        <td style="justify-content: center;cursor:pointer;max-width:45px;"><i class="pi pi-ellipsis-v" (click)="show($event,product)"></i></td>
                    </tr>
                </ng-template>
            </p-table>
                <p-overlayPanel #op>
                    <ng-template pTemplate>
                        <ul>
                            <li (click)="Edit(product)" style="cursor:pointer;">Edit</li>
                            <HR SIZE="1">
                            <li (click)="Delete(product)" style="cursor:pointer;">Delete</li>
                            <HR SIZE="1">
                            <li (click)="Pincode(product)" style="cursor:pointer;">Pincode</li>
                            <HR SIZE="1">
                            <li (click)="shippingCharge(product)" style="cursor:pointer;">Shipping charge</li>
                        </ul>
                    </ng-template>
            </p-overlayPanel>
</div>
<p-dialog [(visible)]="display" header="Add Zone" [breakpoints]="{'960px': '55vw', '640px': '95vw'}"  [modal]="true" [style]="{width: '40vw'}" [baseZIndex]="10000"
[draggable]="false" [resizable]="false">


  <form [formGroup]="AddForm" (ngSubmit)="AddZone()" novalidate>
    <div class="container">
    
    <div class="row">
        <div class="col-25">
          <label for="country">Warehouse</label>
        </div>
        <div class="col-75">
            <select formControlName="warehouse">
              <option *ngFor="let item of wareHouse" value="{{item._links.self.href}}" >{{item.name}}</option>
            </select>
          <div *ngIf="getControl['warehouse'].touched && getControl['warehouse'].invalid" class="text-danger">
            <div *ngIf="getControl['warehouse'].errors?.['required']">Warehouse is required.</div>
          </div>
        </div>
      </div>  
      <div class="row">
        <div class="col-25">
          <label for="state">Zone</label>
        </div>
        <div class="col-75">
          <input type="text" id="zone" class="nameCapital"  formControlName="zone" placeholder="Type here.." >
          <div *ngIf="getControl['zone'].touched && getControl['zone'].invalid" class="text-danger">
              <div *ngIf="getControl['zone'].errors?.['required']">zone is required.</div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="state">EDD</label>
        </div>
        <div class="col-75">
          <input type="text" id="state" class="nameCapital"  formControlName="edd" placeholder="Type here.." >
          <div *ngIf="getControl['edd'].touched && getControl['edd'].invalid" class="text-danger">
              <div *ngIf="getControl['edd'].errors?.['required']">EDD is required.</div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="shippingDiscount">Shipping discount</label>
        </div>
        <div class="col-75">
          <input type="text" id="shippingDiscount" class="nameCapital"  formControlName="shippingDiscount" placeholder="Type here.." >
          <div *ngIf="getControl['shippingDiscount'].touched && getControl['shippingDiscount'].invalid" class="text-danger">
              <div *ngIf="getControl['shippingDiscount'].errors?.['required']">Shipping discount is required.</div>
            </div>
        </div>
      </div>
    <div class="row" >
        <div class="col-100 text-right fontcls">
            <button type="button" class="cancelbtn btn-outline-secondary btn btn-sm" (click)="Cancel()">CANCEL</button>
            <button type="submit" class="submitbtn btn-outline-secondary btn btn-sm" >SUBMIT</button>
        </div>
    </div>
  </div>
  </form>

</p-dialog>

<p-dialog [(visible)]="editdisplay" header="Edit Zone" [breakpoints]="{'960px': '55vw', '640px': '95vw'}"  [modal]="true" [style]="{width: '40vw'}" [baseZIndex]="10000"
[draggable]="false" [resizable]="false">


  <form [formGroup]="EditForm" (ngSubmit)="EditZone()" novalidate>
    <div class="container">
    
    <div class="row">
        <div class="col-25">
          <label for="editWarehouse">Warehouse</label>
        </div>
        <div class="col-75">
            <select formControlName="editWarehouse"  >
                <option *ngFor="let item of wareHouse" value="{{item._links.self.href}}" 
                [selected]="item.id===warehouseId">{{item.name}}</option>
            </select>
          <div *ngIf="getEditControl['editWarehouse'].touched && getEditControl['editWarehouse'].invalid" class="text-danger">
            <div *ngIf="getEditControl['editWarehouse'].errors?.['required']">Warehouse is required.</div>
          </div>
        </div>
      </div> 
      <div class="row">
        <div class="col-25">
          <label for="editZone">Zone</label>
        </div>
        <div class="col-75">
          <input type="text" id="editZone" class="nameCapital"  formControlName="editZone" placeholder="Type here.." [(ngModel)]="product.name">
          <div *ngIf="getEditControl['editZone'].touched && getEditControl['editZone'].invalid" class="text-danger">
              <div *ngIf="getEditControl['editZone'].errors?.['required']">Zone is required.</div>
            </div>
        </div>
      </div> 
      <div class="row">
        <div class="col-25">
          <label for="editedd">EDD</label>
        </div>
        <div class="col-75">
          <input type="text" id="editedd" class="nameCapital"  formControlName="editedd" placeholder="Type here.." [(ngModel)]="product.edd">
          <div *ngIf="getEditControl['editedd'].touched && getEditControl['editedd'].invalid" class="text-danger">
              <div *ngIf="getEditControl['editedd'].errors?.['required']">EDD is required.</div>
            </div>
        </div>
      </div> 
      <div class="row">
        <div class="col-25">
          <label for="editshippingDiscount">Shipping discount</label>
        </div>
        <div class="col-75">
          <input type="text" id="editshippingDiscount" class="nameCapital"  formControlName="editshippingDiscount" placeholder="Type here.." [(ngModel)]="product.shippingDiscount">
          <div *ngIf="getEditControl['editshippingDiscount'].touched && getEditControl['editshippingDiscount'].invalid" class="text-danger">
              <div *ngIf="getEditControl['editshippingDiscount'].errors?.['required']">ShippingDiscount is required.</div>
            </div>
        </div>
      </div> 
    <div class="row" >
        <div class="col-100 text-right fontcls">



            <button type="button" class="cancelbtn btn-outline-secondary btn btn-sm" (click)="EditCancel()">CANCEL</button>
            <button type="submit" class="submitbtn btn-outline-secondary btn btn-sm" (click)="EditZone()">SUBMIT</button>
        </div>
    </div>
  </div>
  </form>

</p-dialog>
<p-confirmDialog  [breakpoints]="{'960px': '50vw', '640px': '80vw'}" [style]="{width: '30vw'}">
</p-confirmDialog>
<p-toast position="bottom-right"></p-toast>

