<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent shadow content">

  
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-2 px-2 md:px-2 border-b">
        <div class="col-sm-3 col-xs-4 col-md-4 pl-3">
            <div class="text-xl font-bold tracking-tight fontcls">Area</div>
        </div>
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4 pr-3">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded md:min-w-64 xs:min-w-64">
                <mat-icon
                class="icon-size-5"
                matPrefix
                [svgIcon]="'heroicons_solid:search'"></mat-icon>
            <input
                matInput
                [formControl]="searchInputControl"
                [autocomplete]="'off'"
                [placeholder]="'Search'" (input)="dt1.filterGlobal($event.target.value, 'contains')">
                <!-- <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button> -->
        </mat-form-field>
            <!-- Add product button -->
            <button style="background-color:#8ed93b;color:white"
                class="ml-4 " 
                mat-stroked-button 
            (click)="NewArea()">
            <mat-icon [svgIcon]="'heroicons_outline:plus'" style="color:white"></mat-icon>
            <span class="ml-1 mr-1">Add Area</span>
            </button>
        </div>
       
    </div>
    <!-- Main -->
    
        <div class="card ml-4">
            <p-table styleClass="p-datatable-sm" #dt1 [value]="area"responsiveLayout="scroll" [globalFilterFields]="['Area']" [paginator]="true" [rows]="9" [rowsPerPageOptions]="[10,25,50]" [resizableColumns]="true"  [scrollable]="true"  scrollHeight="400px" sortMode="multiple">
               
                
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="max-width:45px;min-width:30px;">NO</th>
                        <th style="min-width:100px">AREA</th>
                        <th style="min-width:100px">PINCODE</th>
                        <th style="min-width:100px">CITY</th>
                        <th style="min-width:100px">STATE</th>
                        <th style="min-width:100px">COUNTRY</th> 
                        <th style="max-width:45px;"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-columns="columns" let-rowIndex="rowIndex">
                    <tr>
                        <td style="max-width:45px;min-width:30px;">{{rowIndex+1}}</td>
                        <td  style="min-width:100px">{{product.name | titlecase}}</td>
                        <td  style="min-width:100px">{{product.pincode.name}}</td>
                        <td  style="min-width:100px">{{product.city.name}}</td>
                        <td  style="min-width:100px">{{product.city.state.name}}</td>
                        <td  style="min-width:100px">{{product.city.state.country.name}}</td>
                        <td style="justify-content: center;cursor:pointer;max-width:45px;"><i class="pi pi-ellipsis-v" (click)="show($event,product)"></i></td>
                    </tr>
                </ng-template>
            </p-table>
                <p-overlayPanel #op>
                    <ng-template pTemplate>
                        <ul>
                            <li (click)="Edit(product)" style="cursor:pointer;">Edit</li>
                            <HR SIZE="1">
                            <li (click)="Delete(product)" style="cursor:pointer;">Delete</li>
                        </ul>
                    </ng-template>
            </p-overlayPanel>
</div>
<p-dialog [(visible)]="display" header="Add Area" [breakpoints]="{'960px': '55vw', '640px': '95vw'}"  [modal]="true" [style]="{width: '40vw'}" [baseZIndex]="10000"
[draggable]="false" [resizable]="false">


  <form [formGroup]="AddForm" (ngSubmit)="AddArea()" novalidate>
    <div class="container">
    
    <div class="row">
        <div class="col-25">
          <label for="country">Country</label>
        </div>
        <div class="col-75">
            <select formControlName="country" (change)="GetStateByCountry($event)">
              <option *ngFor="let item of country" value="{{item | json}}" 
              >{{item.name}}</option>
            </select>
          <div *ngIf="getControl['country'].touched && getControl['country'].invalid" class="text-danger">
            <div *ngIf="getControl['country'].errors?.['required']">Country is required.</div>
          </div>
        </div>
      </div>  
      <div class="row">
        <div class="col-25">
            <label for="state">State</label>
        </div>
        <div class="col-75">
            <select formControlName="state" (change)="GetCityByState($event)">
              <option *ngFor="let item of state"  value="{{item | json}}" >{{item.name}}</option>
            </select>
            <div *ngIf="getControl['state'].touched && getControl['state'].invalid" class="text-danger">
                <div *ngIf="getControl['state'].errors?.['required']">State is required.</div>
              </div>
        </div>
      </div>  
      <div class="row">
        <div class="col-25">
          <label for="city">City</label>
        </div>
        <div class="col-75">
            <select formControlName="city">
              <option *ngFor="let item of city"  value="{{item._links.self.href}}" >{{item.name}}</option>
            </select>
            <div *ngIf="getControl['city'].touched && getControl['city'].invalid" class="text-danger">
                <div *ngIf="getControl['city'].errors?.['required']">City is required.</div>
              </div>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="pincode">Pincode</label>
        </div>
        <div class="col-75">
            <select formControlName="pincode">
              <option *ngFor="let item of pincode"  value="{{item._links.self.href}}" >{{item.name}}</option>
            </select>
            <div *ngIf="getControl['pincode'].touched && getControl['pincode'].invalid" class="text-danger">
                <div *ngIf="getControl['pincode'].errors?.['required']">City is required.</div>
              </div>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="area">Area</label>
        </div>
        <div class="col-75">
          <input type="text" id="area"  class="nameCapital" [pKeyFilter]="noSpecial" formControlName="area" placeholder="Type here.." >
          <div *ngIf="getControl['area'].touched && getControl['area'].invalid" class="text-danger">
              <div *ngIf="getControl['area'].errors?.['required']">Name is required.</div>
            </div>
        </div>
      </div> 
    <div class="row" >
        <div class="col-100 text-right fontcls">
            <button type="button" class="cancelbtn btn-outline-secondary btn btn-sm" (click)="Cancel()">CANCEL</button>
            <button type="submit" class="submitbtn btn-outline-secondary btn btn-sm" >SUBMIT</button>
        </div>
    </div>
  </div>
  </form>

</p-dialog>

<p-dialog [(visible)]="editdisplay" header="Edit Area" [breakpoints]="{'960px': '55vw', '640px': '95vw'}"  [modal]="true" [style]="{width: '40vw'}" [baseZIndex]="10000"
[draggable]="false" [resizable]="false">


  <form [formGroup]="EditForm" (ngSubmit)="EditArea()" novalidate>
    <div class="container">
    
    <div class="row">
        <div class="col-25">
          <label for="editcountry">Country</label>
        </div>
        <div class="col-75">
            <select formControlName="editcountry" (change)="GetStateByCountry($event)" ngModel="{{selectedCountry | json}}">
              <option *ngFor="let item of country" value="{{item | json}}" 
              >{{item.name}}</option>
            </select>
          <div *ngIf="getEditControl['editcountry'].touched && getEditControl['editcountry'].invalid" class="text-danger">
            <div *ngIf="getEditControl['editcountry'].errors?.['required']">Country is required.</div>
          </div>
        </div>
      </div> 
      <div class="row">
        <div class="col-25">
            <label for="editstate">State</label>
        </div>
        <div class="col-75">
            <select formControlName="editstate" (change)="GetCityByState($event)" ngModel="{{selectedState | json}}">
              <option value="" disabled>select</option>
              <option *ngFor="let item of state"  value="{{item | json}}" 
              >{{item.name}}</option>
            </select>
            <div *ngIf="getEditControl['editstate'].touched && getEditControl['editstate'].invalid" class="text-danger">
                <div *ngIf="getEditControl['editstate'].errors?.['required']">State is required.</div>
              </div>
        </div>
      </div> 
      <div class="row">
        <div class="col-25">
          <label for="editcity">City</label>
        </div>
        <div class="col-75">
            <select formControlName="editcity" [(ngModel)]="selectedCity">
              <option value="" disabled>select</option>
              <option *ngFor="let item of city"  value="{{item._links.self.href}}"
               >{{item.name}}</option>
            </select>
            <div *ngIf="getEditControl['editcity'].touched && getEditControl['editcity'].invalid" class="text-danger">
                <div *ngIf="getEditControl['editcity'].errors?.['required']">City is required.</div>
              </div>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="editpincode">Pincode</label>
        </div>
        <div class="col-75">
            <select formControlName="editpincode" [(ngModel)]="selectedPincode">
              <option value="" disabled>select</option>
              <option *ngFor="let item of pincode"  value="{{item._links.self.href}}" 
              >{{item.name}}</option>
            </select>
            <div *ngIf="getEditControl['editpincode'].touched && getEditControl['editpincode'].invalid" class="text-danger">
                <div *ngIf="getEditControl['editpincode'].errors?.['required']">City is required.</div>
              </div>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="editarea">Area</label>
        </div>
        <div class="col-75">
          <input type="text" id="editarea" class="nameCapital" [pKeyFilter]="noSpecial" formControlName="editarea" placeholder="Type here.." [(ngModel)]="product.name">
          <div *ngIf="getEditControl['editarea'].touched && getEditControl['editarea'].invalid" class="text-danger">
              <div *ngIf="getEditControl['editarea'].errors?.['required']">Name is required.</div>
            </div>
        </div>
      </div> 
    <div class="row" >
        <div class="col-100 text-right fontcls">
            <button type="button" class="cancelbtn btn-outline-secondary btn btn-sm" (click)="EditCancel()">CANCEL</button>
            <button type="submit" class="submitbtn btn-outline-secondary btn btn-sm" >SUBMIT</button>
        </div>
    </div>
  </div>
  </form>

</p-dialog>
<p-confirmDialog  [breakpoints]="{'960px': '50vw', '640px': '80vw'}" [style]="{width: '30vw'}">
</p-confirmDialog>
<p-toast position="bottom-right"></p-toast>


