<p-sidebar header="User Details" [(visible)]="userdetails" (onHide)="DetailsCancel()" styleClass="p-sidebar-sm" position="right" model="false">

    <form action="action_page.php" >
        <div class="container">
        <div class="row">
          <div class="col-25">
            <label for="fname">Name</label>
          </div>
          <div class="col-75">
            <label for="fname">{{product.name}}</label>
          </div>
        </div>
        <div class="row">
            <div class="col-25">
              <label for="subject">Email</label>
            </div>
            <div class="col-75">
              <label for="fname">{{product.email}}</label>
            </div>
          </div>
        <div class="row">
          <div class="col-25">
            <label for="lname">Phone</label>
          </div>
          <div class="col-75">
            <label for="fname">{{product.phone}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="country">Role</label>
          </div>
          <div class="col-75">
            <label for="fname">{{product.roleName}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="subject">Department</label>
          </div>
          <div class="col-75">
            <label for="fname">{{product.departmentName}}</label>
          </div>
        </div>
        <!-- <div class="row">
            <div class="col-25">
              <label for="subject">Username</label>
            </div>
            <div class="col-75">
              <label for="fname">{{product.userName}}</label>
            </div>
          </div> -->
         
          <div class="row">
            <button type="button" class="btn btn-outline-secondary btn-sm" (click)="ChangeCredential(product.email,product.id)">Change Credential</button>
        </div>
      </div>
      </form>
</p-sidebar>

