input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    font-size: 13px;
    font-weight: 'Hind';
    color: gray;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 3px 3px 1px 0;
    display: inline-block;
    font-size: 13px;
    font-weight: 'Hind';
    color: gray;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;

  }
  
  /* Style the container */
  .container {
    border-radius: 5px;
    padding: 15px;
  }
  
  /* Floating column for labels: 25% width */
  .col-30 {
    float: left;
    width: 50%;
    margin-top: 2px;
  }
  .col-50 {
    float: left;
    width: 50%;
    margin-top: 2px;
  }
  .col-25 {
    float: left;
    width: 30%;
    margin-top: 2px;
  }
  .col-20 {
    float: left;
    width: 20%;
    margin-top: 2px;
  }
  /* Floating column for inputs: 75% width */
  .col-70 {
    float: left;
    width: 50%;
    margin-top: 2px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  :host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    padding: 0.7rem !important;
    font-weight: 600 !important;
  }
  :host ::ng-deep .p-tabview .p-tabview-panels {
    padding: 0;
  }
  :host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: inset 0 0 0 0rem white;
  }
  :host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: #ffffff;
    border-color: #8ed93b;
    color: #27272a;
  }
  :host ::ng-deep .p-tabview .p-tabview-nav .p-tabview-ink-bar {
    background-color: #8ed93b;
  }
  :host ::ng-deep .p-tabview .p-tabview-nav {
    background: #ffffff;
     border: none; 
    border-width: 0 0 0 0; 
  }
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-50 {
      width: 100%;
      margin-top: 0;
    }
   
  }
  :host ::ng-deep .p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
    font-size: 11px;
    font-family: 'Hind';
  }
  :host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    font-size:13px !important;
    color: gray;
    font-family: 'Hind';
  }
  :host ::ng-deep .card  {
    border: none;
  }
  button:hover {
    background-color: #8ed93b;
  }
  :host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page{
    min-width: 1.5rem;
    height:1.5rem;
    font-size: 13px;
    }
    :host ::ng-deep .p-dropdown .p-dropdown-trigger {
      width:1.5rem;
  
    }
    :host ::ng-deep .p-paginator .p-dropdown .p-dropdown-label {
      padding:2px;
      font-size: 13px;
    }
    :host ::ng-deep .p-paginator .p-dropdown {
      height:1.6rem;
    }
    :host ::ng-deep .p-paginator{
      padding:0;
    }