<div
  class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent shadow content">


  <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center justify-between py-2 px-2 md:px-2 border-b ">
    <div class="col-sm-3 col-xs-5 col-md-3 pl-3">
      <div class="text-xl font-bold tracking-tight fontcls">{{magazine}}</div>
    </div>

<!--     <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4 pr-3">
      <button style="background-color:#8ed93b;color:white" class="ml-4 " mat-stroked-button (click)="Edit()">
        <span class="ml-1 mr-1">Edit</span>
      </button>
      Add product button 
      <button style="background-color:#8ed93b;color:white" class="ml-4 " mat-stroked-button (click)="GoBack()">
        <span class="ml-1 mr-1">Magazine List</span>
      </button>
    </div> -->

  </div>
  <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
    <div class="w-full max-w-screen-xl mx-auto">

            <p-scrollPanel [style]="{width: '100%', height: '450px'}">

              <div class="flex  flex-auto mb-3">
                <div class="col-90">
                  <div class="row">
                    <div class="col-30">
                      <label for="fname">Cover Image</label>
                    </div>
                    <div class="col-70">
                      <img src={{url}} alt="No image"  style="width:100px;height:60px;" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-30">
                      <label for="subject">Title</label>
                    </div>
                    <div class="col-70">
                      <label for="fname">{{magazine}}</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-30">
                      <label for="subject">Edition</label>
                    </div>
                    <div class="col-70">
                      <label for="fname">{{edition}}</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-30">
                      <label for="subject">Category</label>
                    </div>
                    <div class="col-70">
                      <label for="fname">{{categories}}</label>
                    </div>
                  </div>
                   <div class="row">
                    <div class="col-30">
                      <label for="subject">No of pages</label>
                    </div>
                    <div class="col-70">
                      <label for="fname">{{noOfPages}}</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-30">
                      <label for="subject">Description</label>
                    </div>
                    <div class="col-70">
                      <label for="fname">{{summary}}</label>
                    </div>
                  </div>
                </div>

              </div>


            </p-scrollPanel>

    </div>
  </div>
</div>

<p-toast position="bottom-right"></p-toast>