:host ::ng-deep .p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
    font-size: 11px !important;
    font-family: 'Hind' !important;
  }
  :host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
   font-size:13px !important;
    color: gray;
    font-family: 'Hind';
  }
  .mat-stroked-button {
    font-family: 'Hind';
   font-size:13px !important;
    color: #8ed93b;
  }
 
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  .col-100 {
    width: 100%;
    margin-top: 1rem;
  }
  .submitbtn {
    margin-left: 1rem;
   
  }
  :host ::ng-deep .card  {
    border: none;
  }
  .cancelbtn ,.submitbtn {
    font-size: 13px;
  }
  button:hover {
    background-color: #8ed93b;
  }
  :host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page{
    min-width: 1.5rem;
    height:1.5rem;
    font-size: 13px;
    }
    :host ::ng-deep .p-dropdown .p-dropdown-trigger {
      width:1.5rem;
  
    }
    :host ::ng-deep .p-paginator .p-dropdown .p-dropdown-label {
      padding:2px;
      font-size: 13px;
    }
    :host ::ng-deep .p-paginator .p-dropdown {
      height:1.6rem;
    }
    :host ::ng-deep .p-paginator{
      padding:0;
    }