<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent shadow content">

  
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-2 px-2 md:px-2 border-b">
        <div class="col-sm-3 col-xs-4 col-md-4 pl-3">
            <div class="text-xl font-bold tracking-tight fontcls">Messages</div>
        </div>
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4 pr-3">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded md:min-w-64 xs:min-w-64">
                <mat-icon
                class="icon-size-5"
                matPrefix
                [svgIcon]="'heroicons_solid:search'"></mat-icon>
            <input
                matInput
                [formControl]="searchInputControl"
                [autocomplete]="'off'"
                [placeholder]="'Search'">
                <button pButton  class="icon-size-5" icon="pi pi-times-circle" (click)="clear()"></button>
        </mat-form-field>
            <!-- Add product button -->
            <button
                class="ml-4 " 
                mat-stroked-button style="background-color:#8ed93b;color:white"
            (click)="newMessage()">
            <mat-icon [svgIcon]="'heroicons_outline:plus'" style="color:white"></mat-icon>
            <span class="ml-1 mr-1">Add</span>
            </button>
        </div>
       
    </div>
    <!-- Main -->
    
        <div class="card">
            <p-table styleClass="p-datatable-sm" #dt1 responsiveLayout="scroll" 
            [globalFilterFields]="['name']"[value]="messageslist"  [paginator]="true" 
            (onPage)="LazyMessages($event)" [paginator]="true" [rows]=perPage [lazy]="true" 
            [totalRecords]="totalRecords" [rowsPerPageOptions]="[10,25,50]" [resizableColumns]="true" 
             [scrollable]="true"  scrollHeight="400px" sortMode="multiple">              
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="max-width:45px;min-width:30px;">NO</th>
                        <th >TITLE</th>
                        <th >BODY</th>
                        <th >CREATED DATE</th> 
                        <th style="max-width:45px;"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-columns="columns" let-rowIndex="rowIndex">
                    <tr>
                        <td style="max-width:45px;min-width:30px;">{{rowIndex+1}}</td>
                        <td >{{product.title}}</td>
                        <td title={{product.description}} (click)="ShowUser(product)" >{{product.description}}</td>
                        <td >{{product.creationTimestamp | date: 'dd-MM-yyyy'}}</td>
                        <td style="justify-content: center;cursor:pointer;max-width:45px;"><i class="pi pi-ellipsis-v" (click)="show($event,product)"></i></td>
                    
                    </tr>
                </ng-template>
            </p-table>
        </div>
      <p-overlayPanel #op>
            <ng-template pTemplate>
                <ul>
                    <li (click)="edit(product)" style="cursor:pointer">Edit</li>
                    <HR SIZE="1">
                    <li (click)="deleteMessage()" style="cursor:pointer">Delete</li>
                </ul>
            </ng-template>
        </p-overlayPanel>
</div>

<p-dialog [(visible)]="display" header="Add Message" [breakpoints]="{'960px': '55vw', '640px': '95vw'}"  [modal]="true" [style]="{width: '40vw'}" [baseZIndex]="10000"
[draggable]="false" [resizable]="false">


  <form [formGroup]="AddForm" (ngSubmit)="addMessage()"  novalidate>
    <div class="container">
    <div class="row">
      <div class="col-25">
        <label for="title">Title</label>
      </div>
      <div class="col-75">
        <input type="text" id="title" class="nameCapital"  formControlName="title" placeholder="Type here.." >
        <div *ngIf="getControl['title'].touched && getControl['title'].invalid" class="text-danger">
            <div *ngIf="getControl['title'].errors?.['required']">Title is required.</div>
          </div>
      </div>
    </div>
     <div class="row">
      <div class="col-25">
        <label for="body">Body</label>
      </div>
      <div class="col-75">
        <textarea id="body" maxlength="170" formControlName="body" placeholder="Type here.." ></textarea>
         <p style="font-size: 11px;color: #80808096;">
                    {{ AddForm.get('body')?.value?.length || 0 }}/170
                </p>
        <div *ngIf="getControl['body'].touched && getControl['body'].invalid" class="text-danger">
            <div *ngIf="getControl['body'].errors?.['required']">Body is required.</div>
          </div>
      </div>
    </div>
    <div class="row" >
        <div class="col-100 text-right fontcls">
            <button type="button" class="cancelbtn btn-outline-secondary btn btn-sm" (click)="Cancel()">CANCEL</button>
            <button type="submit" class="submitbtn btn-outline-secondary btn btn-sm" >SUBMIT</button>
        </div>
    </div>
  </div>
  </form>

</p-dialog>
<p-dialog [(visible)]="editdisplay" header="Edit Message" [breakpoints]="{'960px': '55vw', '640px': '95vw'}"  [modal]="true" [style]="{width: '40vw'}" [baseZIndex]="10000"
[draggable]="false" [resizable]="false">


  <form [formGroup]="EditForm" (ngSubmit)="editMessage()"  novalidate>
    <div class="container">
    <div class="row">
      <div class="col-25">
        <label for="edittitle">Title</label>
      </div>
      <div class="col-75">
        <input type="text" id="edittitle" class="nameCapital"  formControlName="edittitle" 
        [(ngModel)]="editMessageTitle" placeholder="Type here.." >
        <div *ngIf="getEditControl['edittitle'].touched && getEditControl['edittitle'].invalid" class="text-danger">
            <div *ngIf="getEditControl['edittitle'].errors?.['required']">Title is required.</div>
          </div>
      </div>
    </div>
     <div class="row">
      <div class="col-25">
        <label for="editbody">Body</label>
      </div>
      <div class="col-75">
        <textarea id="editbody" maxlength="170" class="nameCapital"  formControlName="editbody" 
        [(ngModel)]="editMessageBody" placeholder="Type here.." ></textarea>
        <div *ngIf="getEditControl['editbody'].touched && getEditControl['editbody'].invalid" class="text-danger">
            <div *ngIf="getEditControl['editbody'].errors?.['required']">Body is required.</div>
          </div>
      </div>
    </div>
     
    <div class="row" >
        <div class="col-100 text-right fontcls">
            <button type="button" class="cancelbtn btn-outline-secondary btn btn-sm" (click)="editCancle()">CANCEL</button>
            <button type="submit" class="submitbtn btn-outline-secondary btn btn-sm" >SUBMIT</button>
        </div>
    </div>
  </div>
  </form>

</p-dialog>
<p-confirmDialog  [breakpoints]="{'960px': '50vw', '640px': '80vw'}" [style]="{width: '30vw'}">
</p-confirmDialog>
<p-toast position="bottom-right"></p-toast>