:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    font-size:13px !important;
     color: gray;
     font-family: 'Hind';
   }
:host ::ng-deep .p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
    font-size: 11px;
    font-family: 'Hind';
  }

  :host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page{
    min-width: 1.5rem;
    height:1.5rem;
    font-size: 13px;
    }
    :host ::ng-deep .p-paginator .p-dropdown .p-dropdown-label {
        padding:2px;
        font-size: 13px;
      }
      :host ::ng-deep .p-paginator .p-dropdown {
        height:1.6rem;
      }
      :host ::ng-deep .p-paginator{
        padding:0;
      }
      :host ::ng-deep .p-dropdown .p-dropdown-trigger {
        width:1.5rem;
    
      }
      :host ::ng-deep  .p-dropdown {
        height:1.6rem;
        border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 11px;
    font-family: 'Hind';
    align-items: center;
   
      }
      :host ::ng-deep .p-dropdown-label {
        font-size: 11px;
        font-family: 'Hind';
        border: none;
      }
      .p-button {
        color: #999292;
        background: none;
        border: none;
      }
      .p-button:enabled:hover{
        color: #999292;
        background:none;
        border: none; 
      }