:host ::ng-deep .p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
    font-size: 11px !important;
    font-family: 'Hind' !important;
  }
  :host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
   font-size:13px !important;
    color: gray;
    font-family: 'Hind';
  }
  .px-6{
    padding-right: 0rem;
  }
  .px-8{
    padding-right: 0rem;
  }
  :host ::ng-deep .card  {
    border: none;
  }
  button:hover {
    background-color: #8ed93b;
  }