<div
  class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent shadow content">


  <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center justify-between py-2 px-2 md:px-2 border-b">
    <div class="col-sm-3 col-xs-5 col-md-3 pl-3">
      <div class="text-2xl font-bold tracking-tight fontcls">Add Gallery</div>
    </div>

    <div class="flex  flex-col sm:flex-row flex-0 justify-between shrink-0 items-center mt-6 sm:mt-0 ">


      <div class="flex  sm:flex-row  items-center  mt-6 sm:mt-0 pr-3">

        <button class="ml-4 " mat-stroked-button style="background-color: #8ed93b;color:white">
          <span class="ml-1 mr-1 fontcls">Magazine List</span>
        </button>


      </div>

    </div>
  </div>

  <!-- Main -->
  <form [formGroup]="AddForm" novalidate class="mr-20 md:ml-2   mt-10 sm:ml-8" (ngSubmit)="AddGallery()">
    <div class="container">
 <div class="row" style="height: 100px;">
      <div class="col-25" >
        <label for="galleryType">Type<span class="text-danger reqd">*</span></label>
      </div>
      <div class="col-75" >
      <p-dropdown formControlName="galleryType"  placeholder="Select" [options]="galleryTypes"
      optionLabel="label" placeholder="select" optionValue="value" [(ngModel)]="selectedType"></p-dropdown>   
 </div>
    </div>
    
      <div class="row" *ngIf="selectedType==='videoGallery'">
        <div class="col-25">
          <label for="videotitle">Title<span class="text-danger reqd">*</span></label>
        </div>
        <div class="col-75">
          <input type="text" id="videotitle" class="nameCapital" [(ngModel)]="galleryTitle" name="videotitle"
            formControlName="videotitle">
          <div *ngIf="getControl['videotitle'].touched && getControl['videotitle'].invalid" class="text-danger">
            <div *ngIf="getControl['videotitle'].errors?.['required']">Title is required.</div>
          </div>
        </div>

      </div>
    <div class="row" *ngIf="selectedType==='videoGallery'">
        <div class="col-25">
          <label for="youtubeUrl">Youtube Url<span class="text-danger reqd">*</span></label>
        </div>
        <div class="col-75">
          <input type="text" id="youtubeUrl" class="nameCapital" [(ngModel)]="galleryyoutubeUrl" name="youtubeUrl"
            formControlName="youtubeUrl">
          <div *ngIf="getControl['youtubeUrl'].touched && getControl['youtubeUrl'].invalid" class="text-danger">
            <div *ngIf="getControl['youtubeUrl'].errors?.['required']">YouTube URL is required.</div>
          </div>
        </div>

      </div>
      <div class="row" *ngIf="selectedType==='imageGallery'">
        <div class="col-25">
          <label for="title">Title<span class="text-danger reqd">*</span></label>
        </div>
        <div class="col-75">
          <input type="text" id="title" class="nameCapital" [(ngModel)]="galleryTitle" name="title"
            formControlName="title">
          <div *ngIf="getControl['title'].touched && getControl['title'].invalid" class="text-danger">
            <div *ngIf="getControl['title'].errors?.['required']">Title is required.</div>
          </div>
        </div>

      </div>
      <div class="row" *ngIf="selectedType==='imageGallery'">
        <div class="col-25">
          <label for="depname">Upload images (upto 20 images)</label>
        </div>
        <div class="col-25">

          <input type="file" id="file" name='files[]' formControlName="cover" accept=".jpg, .jpeg, image/png" multiple
            (change)="onFileChanged($event)" />
          
          <label>{{noOfImages}}</label>
        </div>
      </div>
      <div class="row">
        <div class="col-25 mb-1 parent" style="width: 10%;" *ngFor="let urls of url">
          <img src={{urls}} style="width:50px;height:50px;">
          <button class="close" (click)="removeImage(urls)">X</button>
        </div>
      </div>
      <div class="row">
        <div class="col-50 text-right fontcls">
          <button type="button" class="cancelbtn btn-outline-secondary btn btn-md" (click)="GoBack()">CANCEL</button>
          <button type="submit" class="submitbtn btn-outline-secondary btn btn-md">SUBMIT</button>
        </div>
      </div>
    </div>
  </form>
</div>
<p-toast position="bottom-right"></p-toast>